<?php
/** @var Breeds $viewModel */
$viewModel = $block->getViewModel();
$data = $viewModel->getBreeds();

use Gamma\Dogs\ViewModel\Breeds; ?>


<div class="Breeds">
    <?php if($data['type'] == 'list') : ?>
    <h1>List of available breeds:</h1>
    <?php endif; ?>

    <?php if($data['type'] == 'breed') : ?>

    <h1><?= $data['info']->getName()?></h1>
        <img src="<?= $data['info']->getImage()?>" alt="">
    <h4>List of sub breeds:</h4>

        <ul class="moveList">
            <?php foreach($data['info']->getSubBreeds()[0] as $breeds => $sub ): ?>
                <li><?= $sub ?>

                </li>
            <?php endforeach; ?>
        </ul>

        <h4>List of books:</h4>
        <ul class="moveList">
            <?php foreach($data['info']->getBooks() as $index => $book ): ?>
                <li><p><a href="http://itp.gammapartners.com/dogs/breeds/index/book/<?=$book['title']?>"><?= $book['title']?></a> - <?=$book['author_name'][0]?></p>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php elseif($data['type'] == 'book') : ?>

    <h1><?=$data['info']->getTitle()?></h1>
    <h3><?=$data['info']->getCover()?></h3>
    <h4>AUTHORS:</h4>
    <ul class="moveList">
        <?php foreach($data['info']->getAuthorname() as $index => $author ): ?>
            <li><p><?=$author?></p>
            </li>
        <?php endforeach; ?>
    </ul>

    <h4>ISBN:</h4>
    <ul class="moveList">
        <?php foreach($data['info']->getIsbn() as $index => $isbn ): ?>
            <li><p><?=$isbn?></p>
            </li>
        <?php endforeach; ?>
    </ul>
    <h4>First Publish</h4>
    <p><?=$data['info']->getFirstPublish()?></p>
    <h4>Publisher:</h4>
    <ul class="moveList">
        <?php foreach($data['info']->getPublisher() as $index => $publish ): ?>
            <li><p><?=$publish?></p>
            </li>
        <?php endforeach; ?>
    </ul>



    <?php else : ?>
        <ul class="moveList">
            <?php foreach($data['info'] as $breeds => $sub ): ?>
                <li><a href="http://itp.gammapartners.com/dogs/breeds/index/breed/<?=$breeds?>" id="<?=$breeds?>"><?= $breeds ?></a>

                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>


</div>
